<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Beer Shop</title>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="assets/js/vuelidate.min.js"></script>
  <script src="assets/js/validators.min.js"></script>

  <link rel="stylesheet" href="bulma.min.css">
</head>

<body>
  <div id="app">

    <div class="container">
      <div class="bd-snippet-preview">
        <h1 class="title is-1">Beer Shop</h1>
        <form @submit.prevent="submitForm" autocomplete="off">
          <div class="field">
            <label for="name" class="label">Name:</label>
            <div class="control">
              <input v-model="form.name" id="name" class="input" @blur="$v.form.name.$touch()" :class="{'is-danger': setError($v.form.name), 'is-success': setSuccess($v.form.name) }">

              <div v-if="$v.form.name.$error">
                <p v-if="$v.form.name.$dirty && $v.form.name.$invalid" class="has-text-danger">Precisa preencher o
                  campo
                  nome</p>
              </div>

            </div>
          </div>

          <div class="field">
            <label for="age" class="label">Idade:</label>
            <div class="control">
              <input v-model.number="form.age" id="age" class="input" @blur="$v.form.age.$touch()" :class="{'is-danger': setError($v.form.age), 'is-success': setSuccess($v.form.age) }">
              <div v-if="$v.form.age.$error">
                <p v-if="!$v.form.age.required" class="has-text-danger">Precisa preencher a idade</p>
                <p v-if="!$v.form.age.integer" class="has-text-danger">Precisa ser numérico</p>
                <p v-if="!$v.form.age.minValue" class="has-text-danger">Precisa ser acima de 18 anos</p>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="email" class="label">E-mail:</label>
            <div class="control">
              <input v-model="form.email" id="email" class="input" @blur="$v.form.email.$touch()" :class="{'is-danger': setError($v.form.email), 'is-success': setSuccess($v.form.email) }">

              <p v-if="$v.form.email.$error && $v.form.email.email" class="has-text-danger">Precisa preencher com um
                e-mail</p>
            </div>
          </div>

          <div class="field">
            <label for="zip_code" class="label">CEP:</label>
            <div class="control">
              <input v-model="form.cep" id="zip_code" class="input" type="text"
              @blur="$v.form.cep.$touch()" 
              :class="{'is-danger': setError($v.form.cep), 'is-success': setSuccess($v.form.cep) }">
              <p v-if="$v.form.cep.$error && !$v.form.cep.cepValidation" class="has-text-danger">Precisa preencher com um CEP</p>
            </div>
          </div>


          <button class="button is-primary">Submit</button>

        </form>
      </div>
    </div>

  </div>

  <script src="assets/js/app.js"></script>
</body>

</html>